*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
scripts/VOCdevkit
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# For weights' files #
*.weights
darknet19_448.conv.23

# Temporary files #
*~
